header {
    height: 8vh;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
}

.active-nav {
    text-decoration: none;
    border: 1px solid white;
    height: 30px;
    width: 100px;
    border-radius: 15px;
    color: white;
    line-height: 30px;
}

.inactive-nav {
    text-decoration: none;
    border: 1px solid black;
    height: 30px;
    width: 16%;
    border-radius: 15px;
    color: black;
    line-height: 30px;
}
